<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <title> Enviando POST com api-fetch </title>
</head>
<body class="corpo">
    <div class="container-img">
        <h1 class="chamada">Faça cadastro <br> para entrar no nosso time!</h1>
        <img src="./img/foto1.png" alt="">
    </div>
    <div class="container-form">
    <form action="">
        <h2 class="login">CADASTRO</h2>
        <label for="" class="lbl"> Nome </label>
            <input id="nome" type="text" name="nome"><br><br>

        <label for="" class="lbl"> Email </label>
            <input id="email" type="email" name="email"><br><br>

        <label for="" class="lbl"> Senha </label>
            <input id="senha" type="password" name="senha"id="senha"><BR><br>
        <button class="button" id="button"> REGISTRAR </button>
    </form>
    <script src="./script.js"></script>
</body>
</html>